@import '~css/variables'

.post-in
   margin 0px
   text-align center

img
  width 200px
  height 200px

h4
  color $orange-flame-pea
  font-size 1.2em

.title
  font-size 2em
  width 100%
  padding-bottom 20px
  padding-top 20px
  color $orange-flame-pea

.tagline
  padding-top 10px
  color grey
  padding-bottom 20px

.group-up
  margin-top 20px

.group-down
  margin-bottom 20px

  button
    background-color $orange-flame-pea
    font-size 1.1em
    border-radius 10px

.vote
  margin-bottom 20px

 li
   font-size .75em

.group-comm
  display flex
  justify-content center
  flex-direction column

.comm
  width calc(50% - 20px)
  margin 10px auto
  background-color $white
  border-radius 10px

.user
  color $orange-flame-pea
