// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant PostsList :
.posts-list-filters
text-align center
.posts-list-stats
  color $orange-flame-pea
  text-align center
  margin 10px

.posts-list-stats li
  display: inline-block
  text-align center
.posts-list
  display flex
  flex-flow row wrap
  text-align center
