// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant PostsListItem :
h3
  color $orange-flame-pea

.posts-list-item
  width calc(33.3% - 20px)
  margin 10px
  background-color $white
  height 300px
  img
    width 100%
    height 145px
    object-fit  cover
  li
    margin 10px
   #grey
     color $gray-gray
